{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

    <style>
        th, td {
            font-size: 12px !important;
        }
    </style>

    <!-- Page Heading -->
    <h3 class="h3 mb-2 text-gray-800">History of Analyses</h3>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">

            {% if analyses|length %}
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Dataset</th>
                            <th>Datetime</th>
                            <th>Key Rank</th>
                            <th>Elapsed Time</th>
                            <th>NN Name</th>
                            <th>Results</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Dataset</th>
                            <th>Datetime</th>
                            <th>Key Rank</th>
                            <th>Elapsed Time</th>
                            <th>NN Name</th>
                            <th>Results</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for analysis in analyses %}
                            <tr>
                                <td>{{ analysis.id }}</td>
                                <td>{{ analysis.dataset }}</td>
                                <td>{{ analysis.datetime }}</td>

                                <td style="padding: 0px;">
                                    <div class="table-responsive"></div>
                                    <table width="100%" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th>Key Byte</th>
                                            <th>Guessing Entropy</th>
                                            <th>Success Rate</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for key_ranks in analysis.key_ranks %}
                                            {% set rowloop = loop %}
                                            {% for key_rank in key_ranks %}
                                                <tr>
                                                    <td>{{ key_rank.key_byte }}</td>
                                                    <td>
                                                        <b class="text-danger">{{ key_rank.key_rank }}</b>
                                                    </td>
                                                    <td>
                                                        <b class="text-danger">{{ analysis.success_rates[rowloop.index - 1][loop.index - 1]['success_rate'] }}</b>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                                <td>{{ analysis.elapsed_time }}</td>
                                <td>{{ analysis.neural_network_name }}</td>
                                <td style="font-size: 20px !important;">
                                    <a href="{{ url_for('result', analysis_id=analysis.id) }}">
                                        <i class="fas fa-fw fa-chart-area text-dark"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <h6>Nothing to show</h6>
            {% endif %}
        </div>
    </div>
{% endblock %}