{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

    {% if training_hyper_parameters | length > 0 %}
        <div class="row" style="padding-top:10px;">
            <div class="col-12">
                <div class="card shadow mb-6">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Training Information</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        {% for hyper_parameter in training_hyper_parameters %}
                            <div class="row">
                                <div class="col-xl-12 col-md-12 mb-4">
                                    <h5>Hyper-Parameters for Model {{ loop.index }}</h5>
                                </div>
                            </div>
                            <div class="row">
                                {% for key, value in hyper_parameter.items() %}
                                    <div class="col-xl-2 col-md-6 mb-4">
                                        <div class="card border-left-dark shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                                            {{ key }}
                                                        </div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ value }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row" style="padding-top:10px;">
            <div class="col-12">
                <div class="card shadow mb-6">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Training Information ({{ analysis.dataset }})</h6>
                    </div>
                </div>
            </div>
        </div>
        {% include 'hiplot.html' %}
    {% endif %}

    <div class="row" style="padding-top:10px;">
        <div class="col-12">
            <div class="card shadow mb-6">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Leakage Model</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="row">
                        {% for leakage_model in leakage_model_parameters %}
                            {% for key, value in leakage_model.items() %}
                                <div class="col-xl-2 col-md-6 mb-4">
                                    <div class="card border-left-dark shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                                        {{ key }}
                                                    </div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ value }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top:10px;">
        <div class="col-12">
            <div class="card shadow mb-6">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Keras Model Information</h6>
                </div>
                <pre style="margin: 0">
            <code class="language-python">
{{ neural_network_description }}
            </code>
        </pre>
            </div>
        </div>
    </div>

    <div class="row">
        {% for metric_plots in all_plots %}
            <div class="col col-lg-12 col-xl-6 col-md-12" style="padding-top:10px;">
                <div class="card shadow mb-6">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">{{ metric_plots.title }}</h6>
                    </div>
                    <div class="chart" id="{{ metric_plots.title }}_plot">
                        <script>
                            var plotly_layout = {{ metric_plots.layout_plotly | tojson }};
                            {% for plot in metric_plots.plots %}
                                var graphs = {{plot | safe}};
                                Plotly.plot('{{ metric_plots.title }}_plot', graphs, plotly_layout);
                            {% endfor %}
                        </script>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% for key_rank_plots in all_key_rank_plots %}
            {% for key_rank_metric_plot in key_rank_plots.plots %}
                {% set key_byte_index = loop.index - 1 %}
                <div class="col-lg-12 col-xl-12 col-md-12" style="padding-top:10px;">
                    <div class="card shadow mb-12">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Key Rank (or Guessing Entropy) - Key
                                Byte {{ key_byte_index }}
                            </h6>
                        </div>
                        <div class="chart" id="key_rank_plot_key_byte_{{ key_byte_index }}">
                            <script>
                                var plotly_layout = {{ key_rank_plots.layout_plotly | tojson }};
                                {% for plot in key_rank_metric_plot %}
                                    var graphs = {{plot | safe}};
                                    Plotly.plot('key_rank_plot_key_byte_' + {{ key_byte_index }}, graphs, plotly_layout);
                                {% endfor %}
                            </script>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}

        {% for success_rate_plots in all_success_rate_plots %}
            {% for success_rate_metric_plot in success_rate_plots.plots %}
                {% set key_byte_index = loop.index - 1 %}
                <div class="col-lg-12 col-xl-12 col-md-12" style="padding-top:10px;">
                    <div class="card shadow mb-12">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Success Rate - Key
                                Byte {{ key_byte_index }}</h6>
                        </div>
                        <div class="chart" id="success_rate_plot_key_byte_{{ key_byte_index }}">
                            <script>
                                var plotly_layout = {{ success_rate_plots.layout_plotly | tojson }};
                                {% for plot in success_rate_metric_plot %}
                                    var graphs = {{plot | safe}};
                                    Plotly.plot('success_rate_plot_key_byte_' + {{ key_byte_index }}, graphs, plotly_layout);
                                {% endfor %}
                            </script>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}

        {% for visualization_plots in all_visualization_plots %}
            {% for visualization_metric_plot in visualization_plots.plots %}
                {% set key_byte_index = loop.index - 1 %}
                <div class="col-lg-12 col-xl-12 col-md-12" style="padding-top:10px;">
                    <div class="card shadow mb-12">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Visualization - Key Byte {{ key_byte_index }}
                            </h6>
                        </div>
                        <div class="chart" id="visualization_plot_key_byte_{{ key_byte_index }}">
                            <script>
                                var plotly_layout = {{ visualization_plots.layout_plotly | tojson }};
                                {% for plot in visualization_metric_plot %}
                                    var graphs = {{plot | safe}};
                                    Plotly.plot('visualization_plot_key_byte_' + {{ key_byte_index }}, graphs, plotly_layout);
                                {% endfor %}
                            </script>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}

        {% for visualization_heatmap_plots in all_visualization_heatmap_plots %}
            {% for visualization_heatmap_metric_plot in visualization_heatmap_plots.plots %}
                {% set key_byte_index = loop.index - 1 %}
                <div class="col-lg-12 col-xl-12 col-md-12" style="padding-top:10px;">
                    <div class="card shadow mb-12">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Visualization HeatMap - Key Byte {{ key_byte_index }}
                            </h6>
                        </div>
                        <div class="chart" id="visualization_heatmap_plot_key_byte_{{ key_byte_index }}">
                            <script>
                                var plotly_layout = {{ visualization_heatmap_plots.layout_plotly | tojson }};
                                {% for plot in visualization_heatmap_metric_plot %}
                                    var graphs = {{plot | safe}};
                                    Plotly.plot('visualization_heatmap_plot_key_byte_' + {{ key_byte_index }}, graphs, plotly_layout);
                                {% endfor %}
                            </script>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}

        {% for ensemble_plots in all_ensemble_plots %}
            {% for ensemble_metric_plot in ensemble_plots.plots %}

                {% set key_byte_index = loop.index - 1 %}
                <div class="col-lg-12 col-xl-12 col-md-12" style="padding-top:10px;">
                    <div class="card shadow mb-12">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Final Key Ranks All Models - Key
                                Byte {{ key_byte_index }}</h6>
                        </div>
                        <div class="chart" id="ensemble_plot_key_byte_{{ key_byte_index }}">
                            <script>
                                var plotly_layout = {{ ensemble_plots.layout_plotly | tojson }};
                                {% for plot in ensemble_metric_plot %}
                                    var graphs = {{plot | safe}};
                                    Plotly.plot('ensemble_plot_key_byte_' + {{ key_byte_index }}, graphs, plotly_layout);
                                {% endfor %}
                            </script>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}

        {% for early_stopping_plots in all_early_stopping_plots %}
            {% for early_stopping_metric_plot in early_stopping_plots.plots %}

                {% set key_byte_index = loop.index - 1 %}
                <div class="col-lg-12 col-xl-12 col-md-12" style="padding-top:10px;">
                    <div class="card shadow mb-12">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Early Stopping Epochs - Key
                                Byte {{ key_byte_index }}</h6>
                        </div>
                        <div class="chart" id="early_stopping_plot_key_byte_{{ key_byte_index }}">
                            <script>
                                var plotly_layout = {{ early_stopping_plots.layout_plotly | tojson }};
                                {% for plot in early_stopping_metric_plot %}
                                    var graphs = {{plot | safe}};
                                    Plotly.plot('early_stopping_plot_key_byte_' + {{ key_byte_index }}, graphs, plotly_layout);
                                {% endfor %}
                            </script>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>


{% endblock %}